body {
	margin: 0px;
}

.wrap {
	width: 800px;
	height: 800px;
	margin: auto;
	position: relative;
	background: #e3e3e3;
	top: 50px;

}

.box {
	width: 700px;
	min-height: 40px;
	background-color: #0d0d0d;
	margin: auto;
	position: absolute;
	left: -30px;
	top: 30px;
}

.box ul {
	margin-left: -20px;
}

.box li {
	display: inline;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	margin-left: 5px;
	text-shadow: 1px 0px 0px white;
	text-shadow: -1px 0px 0px white;
	text-shadow: 0px 1px 0px white;
	text-shadow: 0px -1px 0px white;
	
}

.box a {
	color: inherit;
}


h1 {
	font-size: 120px;
	text-align: center;
	margin-top: 50px;
	font-family: 'Press Start 2P', cursive;
	letter-spacing: -1px;
	color: black;
	text-transform: lowercase;
	text-shadow: 0px 1px 0px white;
	font-variant: small-caps;

}
